server:
  port: 8070

spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: eureka-server #changed "localhost" into eureka-server
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: "https://${eureka.instance.hostname}:${server.port}/eureka/"
